/* home css */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.home-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  width: 100%;
  height: auto;
  top: 0;
  padding-bottom: 10px;
  position: sticky;
  z-index: 30;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prime {
  color: rgb(0, 140, 255);
  text-transform: capitalize;
  font-family: varela;
}
.us-prime {
  color: rgb(0, 140, 255);
  text-transform: capitalize;
  font-family: varela;
}
.why-choose-us {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.why-choose-us h1:hover {
  background-color: rgba(54, 135, 201, 0.521);
  color: white;
}
.why-choose-us h1 {
  padding: 5px;
  border-radius: 20px;
  border: 2px solid rgba(54, 135, 201, 0.521);
  width: 50%;
  font-size: 1.5rem;
}
.login-img1 {
  height: 60px;
  width: 60px;
  object-fit: contain;
  padding: 3px;
  background-color: black;
  border-radius: 50%;
}
.login-img1:hover {
  background-color: rgb(56, 51, 51);
}
.login-link {
  border: 2px solid white;
  border-radius: 10px;
  padding: 4px;
}
.login-link a {
  font-size: 1.3rem;
}
.login-sm {
  display: none;
}
.navbar img {
  display: none;
}
.my-img {
  height: 195px;
  object-fit: cover;
}
.logo-img {
  height: 80px;
  width: 150px;
}
nav {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.navbar {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  width: 45%;
}
a {
  margin-left: 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: varela, sans-serif;
  color: white;
  font-size: 1.2rem;
}
a:hover {
  color: white;
}

.items-head {
  display: block;
  font-size: 2rem;
  text-transform: capitalize;
  position: relative;
}
.items-head::after {
  content: "";
  width: 500px;
  height: 2px;
  background-color: rgb(125, 187, 207);
  position: absolute;
  top: 20px;
  left: 200px;
}
.items-head::before {
  content: "";
  width: 500px;
  height: 2px;
  background-color: rgb(125, 187, 207);
  position: absolute;
  top: 20px;
  right: 200px;
}
.arrow-container {
  display: none;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-right: 40px;
}
.home img {
  height: auto;
  width: 60%;
  border-radius: 0px 0px 30px 30px;
}
.welcome-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  font-family: varela;
}
.welcome-text h1,
p {
  width: 80%;
}
.wave-container {
  height: auto;
  /* background-image: url(../images/wave.svg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.welcome-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}
.search {
  z-index: 1;
  height: auto;
  width: 33%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  border-radius: 10px;
  background-color: rgb(98, 151, 182);
}
.search input {
  width: 400px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  text-align: left;
  font-size: 1.3rem;
  font-family: roboto;
  outline: none;
  border: none;
  max-width: 100%;
  background-color: transparent;
  color: white;
  box-shadow: inset 0px -4px 7px #ddd;
}
.search img {
  border-radius: 0px 10px 10px 0px;
  height: 60px;
  width: 60px;
  object-fit: contain;
  background-color: rgb(70, 177, 240);
  /* border: 1px solid black; */
  padding: 5px;
}
.home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
aside {
  width: 600px;
  height: 100vh;
  position: sticky;
  left: 0%;
  top: 0%;
  margin-left: 20px;
  justify-content: space-around;
  display: flex;
  text-transform: capitalize;
  flex-direction: column;
  align-items: center;
}
aside h3 {
  font-size: 1.3rem;
  text-transform: capitalize;
  text-align: left;
  width: 50%;
  font-family: roboto;
}
.content {
  width: 100%;
  height: auto;
  padding: 30px;
}

.items {
  display: none;
}
.items-container {
  display: none;
}
.items-container ul {
  visibility: hidden;
}

.landpage {
  display: flex;
  margin-top: 50px;
  height: auto;
  max-width: 100%;
}

aside h1 {
  font-family: varela;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(32, 112, 204);
}

h2 {
  font-family: roboto;
  text-transform: uppercase;
  text-align: center;
}
.cardy {
  box-shadow: 0px 0px 15px rgba(223, 222, 222, 0.815),
    0px 0px 15px rgb(204, 199, 199);
  text-align: center;
}
.cardy:hover {
  box-shadow: 5px 10px 15px rgb(207, 204, 204),
    -5px -10px 15px rgb(224, 222, 222);
}
.cardy {
  width: 300px;
  height: auto;
  margin-right: 15px;
  max-width: 100%;
}
.my-card-img {
  height: 195px;
  object-fit: cover;
}
.service-card1,
.service-card2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.services {
  margin: 0%;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: space-around;
  padding-left: 20px;
  height: auto;
}

.title {
  text-align: left;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: rgb(36, 133, 172);
  font-family: varela;
  font-weight: bold;
  margin: 25px;
}
.my-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.menu-option {
  visibility: hidden;
}
.footer {
  height: 70vh;
  width: 100%;
  background-color: rgb(125, 187, 207);
  bottom: 0;
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer h1 {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: bold;
  font-family: roboto;
  color: black;
}
.foot1,
.foot2,
.foot3 {
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.foot1 {
  height: 50%;
}
.foot1 a {
  text-align: left;
  color: black;
  width: 60%;
  font-family: roboto;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  text-transform: none;
}
.foot2 a {
  text-align: left;
  color: black;
  font-family: roboto;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  text-transform: lowercase;
}
.foot3 li {
  text-align: left;
  width: 60%;
}
.foot3 a {
  color: black;
  font-family: roboto;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  text-transform: lowercase;
}
.foot2 img {
  max-width: 100%;
  height: auto;
}
.line {
  height: 5px;
  width: 80%;
  background-color: black;
  margin: auto;
}
.social-links {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 70%;
  justify-content: space-around;
}
.social-links img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  max-width: 100%;
}

.copyright {
  height: 50px;
}
.copyright h1 {
  text-align: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: white;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .home-header {
    position: sticky;
    z-index: 50;
    padding-bottom: 20px;
  }
  .home {
    height: auto;
    display: block;
    max-width: 100%;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    height: 100vh;
    width: 0;
    overflow-x: hidden;
    background-color: black;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    opacity: 0.95;
    padding: 0;
    text-align: center;
  }

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    padding-bottom: 10px;
  }
  .menu {
    height: 60px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    /* background-color: rgb(155, 19, 160); */
  }

  .login {
    display: none;
  }
  .login-sm {
    background-color: rgb(2, 39, 46);
    width: 300px;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-top: -20px;
  }
  .login-sm a {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
  }
  .navbar img {
    height: 40px;
    width: 40px;
    object-fit: contain;
    display: block;
    cursor: pointer;
  }
  .div1 {
    height: 3px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.836);
    width: 30px;
  }
  .search {
    width: 80%;
    height: 40px;
    background-color: none;
  }
  .search input {
    width: 100%;
    height: 100%;
  }
  .search img {
    height: 100%;
  }
  .home {
    width: 100%;
    padding: 0%;
    margin-top: 0px;
  }
  .home img {
    border-radius: 0px;
  }
  .prime {
    display: block;
  }
  .wave-container {
    height: auto;
  }
  .welcome-container {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .welcome-text {
    width: 100%;
    margin-top: 20px;
  }
  .welcome-text h1 {
    text-align: left;
    width: 80%;
    margin-bottom: 20px;
  }
  .why-choose-us {
    align-items: center;
    margin: 20px;
    margin-right: auto;
    width: 300px;
    min-width: 300px;
  }
  .why-choose-us h1 {
    font-size: 1.2rem;
    text-align: center;
  }
  .arrow-container {
    height: auto;
  }
  aside {
    display: none;
  }
  .landpage {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0%;
    height: auto;
  }
  .items-head {
    display: block;
    position: relative;
    font-family: varela;
    font-size: 1.7rem;
    margin: auto;
    max-width: 80%;
  }
  .items-head::after {
    content: "";
    width: 50%;
    height: 2px;
    background-color: rgb(125, 187, 207);
    position: absolute;
    top: 20px;
  }
  .items-head::before {
    content: " ";
    width: 50%;
    height: 2px;
    background-color: rgb(125, 187, 207);
    position: absolute;
    top: 20px;
  }
  .items-container {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .program-list {
    margin-bottom: 0;
    overflow-y: hidden;
    height: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s ease;
  }
  .items-container ul {
    visibility: visible;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    transition: all 1s ease;
    text-align: left;
    list-style: none;
    /* background-color: red; */
  }
  .items-container a {
    color: black;
  }
  .items-container h1 {
    display: block;
  }
  .arrow-container {
    display: flex;
  }

  .arrow-style {
    width: 60px;
    padding: 10px;
    background-color: white;
    border-radius: 40%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: 3px solid rgb(125, 187, 207);
    box-shadow: 0px 5px 10px rgb(131, 128, 128);
  }
  .arrow {
    height: 30px;
    width: 30px;
    display: block;
    z-index: 4;
    object-fit: contain;
    transition: all 0.2s ease-in;
    background-color: white;
    border-radius: 50%;
  }
  .arrow2 {
    height: 30px;
    width: 0px;
    display: block;
    z-index: 4;
    object-fit: contain;
    /* margin-top: -20px; */
    margin-left: 0px;
    cursor: pointer;
    transition: all 0.2s ease-in;
  }
  .arrow:hover {
    transform: translateY(10%);
    cursor: pointer;
  }
  .arrow2:hover {
    transform: translateY(-10%);
  }
  .content {
    padding: 0px;
  }
  .services {
    flex-direction: column;
    padding-left: 0px;
  }
  .cardy {
    width: 50%;
    height: auto;
    margin: 5px;
  }
  .service-card2 .cardy {
    width: 47%;
    margin-top: 15px;
  }
  .my-card-img {
    height: 130px;
  }
  .service-card1,
  .service-card2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0px;
    width: 100%;
    height: auto;
  }

  .service-card1 {
    justify-content: space-evenly;
  }

  .title {
    margin: 15px;
  }
  .my-title {
    font-size: 1rem;
  }
  .login-link {
    padding: 5px;
    font-size: 1rem;
  }
  .footer {
    flex-wrap: wrap;
    height: auto;
    flex-direction: column-reverse;
    margin-bottom: 0px;
  }
  .foot2 form {
    display: block;
  }
  .foot2 input {
    width: auto;
  }
  .foot1,
  .foot2,
  .foot3 {
    width: 80%;
    max-width: 80%;
    margin: 30px;
  }
}
